@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass-panel {
    @apply bg-slate-900/40 backdrop-blur-xl border border-white/5 shadow-2xl;
  }
  
  .glass-header {
    @apply bg-black/40 backdrop-blur-md border-b border-white/5;
  }

  .active-press {
    @apply active:scale-95 transition-all duration-75;
  }
  
  .indicator-pulse {
    @apply animate-pulse shadow-[0_0_8px_rgba(34,197,94,0.4)];
  }

  .custom-scroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .custom-scroll::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: rgb(30 41 59);
    border-radius: 20px;
  }
}
